<body *ngIf="!authService.isAdmin() && authService.isLoggedIn()" class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click" data-menu="vertical-menu" data-color="bg-gradient-x-purple-blue" data-col="2-columns">
    <app-user-navbar></app-user-navbar>
    <router-outlet></router-outlet>
</body>


<body *ngIf="authService.isAdmin() && authService.isLoggedIn()" class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click" data-menu="vertical-menu" data-color="bg-gradient-x-purple-blue" data-col="2-columns">
    <app-admin-navbar></app-admin-navbar>
    <router-outlet></router-outlet>
</body>

<body *ngIf="!authService.isLoggedIn()" class="vertical-layout vertical-menu 2-columns   fixed-navbar" data-open="click" data-menu="vertical-menu" data-color="bg-gradient-x-purple-blue" data-col="2-columns">
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
</body>